@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900');
* {
	font-family: 'Roboto', sans-serif;

}
body {
	overflow-x: hidden;
}
section {
	padding: 60px 0;
}
.centerize {
  display: table;
  width: 100%;
  height: 100%;
}
.v-center {
	display: table-cell;
	vertical-align: middle;
}
.box {
	margin-bottom: 35px;
}
.blue-el {
	color: #235bc4;
}
.btn {
	padding: 10px 30px;
	border-radius: 30px;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
	box-shadow: 0px 3px 9px rgba(187, 187, 187, 0.43);
	transition: all 0.2s ease;
}
.btn:hover, .btn:focus {
	box-shadow: 0px 3px 22px rgba(187, 187, 187, 0.74);
}
.btn-primary {
	background-color: #fff;
	border-color: #fff;
	color: #235bc4;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #fff;
	border-color: #fff;
	color: #235bc4;
}
.btn-blue {
	background-color: #235bc4;
	border-color: #235bc4;
	color: #fff;
}
.btn-blue:hover, .btn-blue:focus {
	box-shadow: 0px 3px 22px rgba(35, 91, 196, 0.55);
	color: #fff;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
	-webkit-animation: flickerAnimation 1s infinite;
	-moz-animation: flickerAnimation 1s infinite;
	-o-animation: flickerAnimation 1s infinite;
	animation: flickerAnimation 1s infinite;
}
.section-bg {
	background: url('../img/colorful.png') no-repeat;
	background-size: cover;
	width: 200px;
	height: 500px;
	position: absolute;
	top: -300px;
	right: 0;
	opacity: 0.3;
}

/**** Intro ****/
.intro {
	height: 100vh;
	background-color: #f4f4f4;
	text-align: center;
}
.intro .intro-img img {
	max-width: 270px;
	margin: 0 auto;
	display: inline-block;
}
.intro .intro-desc {
	font-size: 30px;
	margin-bottom: 0;
}
.intro .intro-title {
	font-size: 45px;
	margin-bottom: 0;
	font-weight: 900;
}
.intro .btn {
	width: 180px;
	margin-right: 15px;
	padding: 15px 30px;
}
.intro .btn:last-child {
	margin-right: 0;
}


/**** Services ****/
.services {
	padding-top: 120px;
	position: relative;
}
.services .service {
	box-shadow: 0 2px 9px rgba(204, 204, 204, 0.22);
	height: 300px;
	position: relative;
	border-radius: 5px;
	text-align: center;
	color: #555;
}
.services .service .service-img {
	position: absolute;
	width: 125px;
	height: 125px;
	top: -65px;
	left: 0;
  right: 0;
  margin: 0 auto;
	background-color: rgba(35, 91, 196, 0.22);
	border-radius: 50%;
}
.services .service-wrapper:nth-child(2) .service-img {
	background-color: rgba(249, 173, 129, 0.22);
}
.services .service .service-img img {
	max-width: 60px;
	margin: 0 auto;
}
.services .service .service-title {
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 15px;
	color: #393939;
}
.services .service .service-desc {
	margin-bottom: 0;
	line-height: 1.7em;
}
.services .service .service-content {
	width: 80%;
	margin: 0 auto;
}

/**** Skills / Technologies ****/
.skills {
	background-color: #f4f4f4;
	text-align: center;
}
.skills ul {
	padding: 0;
	width: 60%;
	margin: 0 auto;
}
.skills ul li {
	list-style: none;
	margin-right: 30px;
	height: 150px;
	display: table;
	display: inline-block;
}
.skills ul li img {
	max-width: 80px;
	opacity: 0.5;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	transition: all 0.3s ease;
}
.skills ul li img:hover,
.skills ul li img:focus {
	opacity: 1;
}


/**** Portfolio ****/
.section-title {
	font-size: 45px;
	margin-bottom: 60px;
	margin-top: 0;
	font-weight: 900;
	text-align: center;
}
.section-title.portfolio-title {
	margin-bottom: 20px;
}
.section-desc.portfolio-desc {
	margin-bottom: 50px;
	text-align: center;
}
.section-desc a {
	color: #555;
	text-decoration: none;
}
.section-desc a {
	font-weight: bold;
}
.section-desc a:hover, .section-desc a:focus {
	color: #235bc4;
	text-decoration: underline;
}
.portfolio .portfolio-img-wrapper {
	height: 355px!important;
}
.portfolio .portfolio-img {
	height: 100%;
	background-size: cover;
}
.portfolio .portfolio-desc .portfolio-type span {
	text-transform: uppercase;
	color: #393939;
	font-weight: 100;
	opacity: 0.8;
}
.portfolio .portfolio-desc .portfolio-type span:after {
	content: '/';
	margin-right: 5px;
	margin-left: 5px;
}
.portfolio .portfolio-desc .portfolio-type span:last-child:after {
	content: '';
}
.portfolio .portfolio-desc .portfolio-title {
	font-size: 35px;
	font-weight: 900;
	display: inline-block;
	margin-top: 0;
	letter-spacing: 2;
}
.portfolio .portfolio-desc .portfolio-title a {
	color: #393939;
}
.portfolio .portfolio-desc .portfolio-title a:hover, 
.portfolio .portfolio-desc .portfolio-title a:focus {
	color: #393939;
	text-decoration: underline;
}
.portfolio .portfolio-desc .portfolio-title:after {
	position: relative;
	display: block;
	content: "";
	height: 2px;
	width: 50%;
	margin-top: 35px;
	background: rgba(204, 204, 204, 0.27);
}
.portfolio .portfolio-desc .portfolio-content {
	opacity: 0.7;
	width: 90%;
	line-height: 1.7em;
	font-weight: 500;
}
.portfolio .portfolio-desc .team a {
	margin-right: 5px;
}

/**** CTA ****/
.cta {
	background-color: #235bc4;
	color: #fff;
	text-align: center;
}
.cta .cta-img img {
	max-width: 30px;
	margin: 0 auto;
}
.cta .cta-desc {
	font-size: 25px;
	font-weight: 300;
	width: 30%;
	margin: 20px auto;
	line-height: 1.3em;
}

/**** Quotes ****/
.quotes {
	background-color: #f4f4f4;
}
.quotes .quote-item {
	background-color: #fff;
	border-radius: 4px;
	width: 65%;
	margin: 0 auto;
	margin-top: 40px;
	padding: 60px 25px 25px 25px;
  text-align: center;
	box-shadow: 0px 1px 46px 0px rgba(189, 190, 190, 0.3);
	position: relative;
}
.quotes .quote-item .quote-img {
	background-size: cover;
	width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.quotes .quote-item .quote-content {
	width: 70%;
	margin: 0 auto;
}
.quotes .quote-item .quote-content .desc {
	margin: 15px 0;
	font-weight: 500;
	font-size: 17px;
  opacity: 0.7;
}
.quotes .quote-item .quote-content .name {
	font-weight: 700;
}
.quotes .owl-carousel .owl-nav .owl-next {
	right: 185px;
}
.quotes .owl-carousel .owl-nav .owl-prev {
	left: 185px;
}
.quotes .owl-carousel .owl-nav {
	top: 40%;
}
.quotes .owl-carousel .owl-nav .owl-prev:hover i, .quotes .owl-carousel .owl-nav .owl-prev:focus i,
.quotes .owl-carousel .owl-nav .owl-next:hover i, .quotes .owl-carousel .owl-nav .owl-next:focus i {
	color: #235bc4;
}

/**** Footer ****/
.footer {
	padding: 60px 0;
	font-size: 15px;
	color: #555;
}
.footer .social {
	float: right;
}
.footer .social ul {
	padding: 0;
}
.footer .social ul li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}
.footer .social ul li a {
	color: #555;
	cursor: pointer;
	transition: all 0.2s ease;
}
.footer .social ul li a:hover,
.footer .social ul li a:focus {
	color: #235bc4;
} 

/**** Owl Carousel ****/
.owl-carousel .owl-stage-outer {
  margin-top: 30px;
  min-height: 306px;
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 35%;
  width: 100%;
  display: block !important;
}
.owl-carousel .owl-nav img {
	max-width: 23px;
}
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -50px;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -50px;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.owl-carousel .owl-nav .owl-next:hover, .owl-carousel .owl-nav .owl-next:focus, .owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-prev:focus {
  opacity: 1;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
  display: inline-block;
}


@media (max-width: 767px) { 
	section {
		padding: 40px 0;
	}
	.section-bg {
		display: none;
	}
	.section-title {
		margin-bottom: 0;
	}
	.intro {
		height: auto;
		overflow: hidden;
	}
	.intro .intro-img img {
		max-width: 150px;
	}
	.intro .intro-desc {
		font-size: 18px;
	}
	.intro .intro-title {
		font-size: 30px;
	}
	.intro .btn {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.services .service {
		margin-bottom: 85px;
		box-shadow: 0 2px 9px rgba(204, 204, 204, 0.48);
	}
	.services .service-wrapper:last-child .service {
		margin-bottom: 0;
	}
	.owl-carousel .owl-nav {
		display: none!important;
	}
	.quotes .quote-item {
		width: 100%;
	}
	.quotes .quote-item .quote-content {
		width: 100%;
	}
	.quotes .owl-stage-outer {
		overflow: hidden;
	}
	.skills ul {
		width: 100%;
	}
	.skills ul li {
		margin-right: 0;
		width: 90px;
	}
	.skills ul li img {
		max-width: 55px;
	}
	.portfolio .box {
		margin-bottom: 15px;
	}
	.portfolio .portfolio-desc .portfolio-title:after {
		margin-top: 10px;
	}
	.portfolio .portfolio-desc .portfolio-content {
		width: 100%;
	}
	.portfolio .portfolio-img-wrapper {
		margin-bottom: 15px;
		height: auto!important;
	}
	.portfolio .portfolio-img {
		height: auto;
	}
	.portfolio .portfolio-desc-wrapper {
		height: auto!important;
	}
	.owl-carousel .owl-stage-outer {
		min-height: auto!important;
	}
	.cta .cta-desc {
		width: 100%;
	}
	.footer {
		text-align: center;
	}
	.footer .social {
		margin-top: 15px;
		float: none;
	}
}